[secrets]
	patterns = [aA]pollo|[bB]razil|[cC]oral|[oO]din
	patterns = tt.amazon.com|issues.amazon.com|cr.amazon.com|sim.amazon.com
	patterns = ic.gov|sgov.gov
	patterns = us-iso|aws-iso
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	patterns = (ironman|IronMan|Ironman)*
	patterns = iron man|Iron Man|Iron man
