.idea
build
src/*.egg-info
.cache
.coverage*
sagemaker_venv*
*.egg-info
.tox
**/__pycache__
**/.ipynb_checkpoints
dist/
**/tensorflow-examples.tar.gz
**/*.pyc
**.pyc
scratch*.py
scratch/
.eggs
*.egg
examples/tensorflow/distributed_mnist/data
*.iml
doc/_build
doc/_static
doc/_templates
**/.DS_Store
venv/
*~
.pytest_cache/
*.swp
.docker/
env/
.vscode/
**/tmp
.python-version
*.html
**/_repack_script_launcher.sh
sagemaker_train/src/**/container_drivers/sm_train.sh
sagemaker_train/src/**/container_drivers/sourcecode.json
sagemaker_train/src/**/container_drivers/distributed.json
