.idea
build
src/*.egg-info
.cache
.coverage*
sagemaker_venv*
*.egg-info
.tox
**/__pycache__
**/.ipynb_checkpoints
dist/
**/tensorflow-examples.tar.gz
**/*.pyc
**.pyc
scratch*.py
.eggs
*.egg
examples/tensorflow/distributed_mnist/data
*.iml
doc/_build
doc/_static
doc/_templates
**/.DS_Store
venv/
*~
.pytest_cache/
*.swp
.docker/
env/
.vscode/
**/tmp
.python-version
*.html
**/_repack_script_launcher.sh
src/sagemaker/modules/train/container_drivers/sm_train.sh
src/sagemaker/modules/train/container_drivers/sourcecode.json
src/sagemaker/modules/train/container_drivers/distributed.json
tests/data/**/_repack_model.py
tests/data/experiment/sagemaker-dev-1.0.tar.gz
src/sagemaker/serve/tmp_workspace
test-examples