recursive-include src/sagemaker *.py

include src/sagemaker/image_uri_config/*.json
include src/sagemaker/serve/schema/*.json
include src/sagemaker/serve/requirements.txt
include src/sagemaker/modules/train/sm_recipes/training_recipes.json
recursive-include requirements *

include VERSION
include LICENSE.txt
include README.rst
include hatch_build.py

prune tests

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
