recursive-include src/sagemaker *.py

include src/sagemaker/image_uri_config/*.json

include VERSION
include LICENSE.txt
include README.rst

prune tests

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
