.navbar-right-items {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link {
    color: var(--pst-color-text-base, #2e2e2e);
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.github-button {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.aws-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.aws-logo {
    height: 28px;     /* Adjust height to fit header nicely */
    width: auto;
    margin-right: 8px;
    vertical-align: middle;
}

.aws-title {
    font-size: 1rem;  /* Slightly smaller to match nav size */
    font-weight: 600;
    color: var(--pst-color-text-base, #2e2e2e); /* Uses theme variable if available */
}

header {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    position: sticky;
    top: 0;
    z-index: 50;
}

h1 {
    font-size: 1.875rem;      /* text-3xl */
    font-weight: 700;         /* font-bold */
    color: #111827;           /* text-gray-900 */
    margin-bottom: 0.5rem;    /* mb-2 */
}

h2 {
    font-size: 1.5rem;        /* text-2xl */
    font-weight: 700;         /* font-bold */
    color: #111827;
    margin-bottom: 1.5rem;      /* mb-4 */
}

h3 {
    font-weight: 500;         /* font-medium */
    margin-bottom: 0.25rem;   /* mb-1 */
}

p {
    font-size: 0.875rem;     /* Tailwind's text-sm */
    color: #4b5563;          /* Tailwind's gray-600 */
    margin-bottom: 1rem
}

/*p + .container {*/
/*    margin-top: 1.5rem;  !* space after heading or paragraph before container *!*/
/*}*/

/* Improve code blocks */
pre {
    padding: 1em;
    border-radius: 4px;
}

/* Improve tables */
table {
    width: 100%;
    margin-bottom: 1.5em;
}

.admonition.important ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1em 0;
    color: #9CA4AF;
}

.admonition.important li {
    margin-bottom: 0.4em;
}

