{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"api.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"}
    },
    "AssociateTrialComponent":{
      "name":"AssociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTrialComponentRequest"},
      "output":{"shape":"AssociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "BatchGetMetrics":{
      "name":"BatchGetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetMetricsRequest"},
      "output":{"shape":"BatchGetMetricsResponse"},
      "internalonly":true
    },
    "BatchPutMetrics":{
      "name":"BatchPutMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchPutMetricsRequest"},
      "output":{"shape":"BatchPutMetricsResponse"},
      "internalonly":true
    },
    "CreateAlgorithm":{
      "name":"CreateAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlgorithmInput"},
      "output":{"shape":"CreateAlgorithmOutput"}
    },
    "CreateAnalyticsJob":{
      "name":"CreateAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAnalyticsJobRequest"},
      "output":{"shape":"CreateAnalyticsJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateAnalyticsJobInternal":{
      "name":"CreateAnalyticsJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAnalyticsJobInternalRequest"},
      "output":{"shape":"CreateAnalyticsJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{"shape":"CreateAppResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateAutoMLJob":{
      "name":"CreateAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoMLJobRequest"},
      "output":{"shape":"CreateAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateCodeRepository":{
      "name":"CreateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCodeRepositoryInput"},
      "output":{"shape":"CreateCodeRepositoryOutput"}
    },
    "CreateCompilationJob":{
      "name":"CreateCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCompilationJobRequest"},
      "output":{"shape":"CreateCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateCrossAccountTrainingJob":{
      "name":"CreateCrossAccountTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCrossAccountTrainingJobRequest"},
      "output":{"shape":"CreateCrossAccountTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentRequest"},
      "output":{"shape":"CreateEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateEnvironmentVersion":{
      "name":"CreateEnvironmentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEnvironmentVersionRequest"},
      "output":{"shape":"CreateEnvironmentVersionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreateExperiment":{
      "name":"CreateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateExperimentRequest"},
      "output":{"shape":"CreateExperimentResponse"},
      "internalonly":true
    },
    "CreateFlowDefinition":{
      "name":"CreateFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlowDefinitionRequest"},
      "output":{"shape":"CreateFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateHumanTaskUi":{
      "name":"CreateHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHumanTaskUiRequest"},
      "output":{"shape":"CreateHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateHyperParameterTuningJobInternal":{
      "name":"CreateHyperParameterTuningJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobInternalRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateLabelingJob":{
      "name":"CreateLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLabelingJobRequest"},
      "output":{"shape":"CreateLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModelInternal":{
      "name":"CreateModelInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInternalInput"},
      "output":{"shape":"CreateModelInternalOutput"},
      "internalonly":true
    },
    "CreateModelPackage":{
      "name":"CreateModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageInput"},
      "output":{"shape":"CreateModelPackageOutput"}
    },
    "CreateMonitoringSchedule":{
      "name":"CreateMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMonitoringScheduleRequest"},
      "output":{"shape":"CreateMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"}
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTrainingJobInternal":{
      "name":"CreateTrainingJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobInternalRequest"},
      "output":{"shape":"CreateTrainingJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTransformJobInternal":{
      "name":"CreateTransformJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobInternalRequest"},
      "output":{"shape":"CreateTransformJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateTrial":{
      "name":"CreateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialRequest"},
      "output":{"shape":"CreateTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreateTrialComponent":{
      "name":"CreateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialComponentRequest"},
      "output":{"shape":"CreateTrialComponentResponse"},
      "internalonly":true
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserProfileRequest"},
      "output":{"shape":"CreateUserProfileResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateWorkteam":{
      "name":"CreateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkteamRequest"},
      "output":{"shape":"CreateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteAlgorithm":{
      "name":"DeleteAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlgorithmInput"}
    },
    "DeleteCodeRepository":{
      "name":"DeleteCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCodeRepositoryInput"}
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResponse"},
      "internalonly":true
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"}
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"}
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteEnvironmentVersion":{
      "name":"DeleteEnvironmentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEnvironmentVersionRequest"},
      "output":{"shape":"DeleteEnvironmentVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteExperiment":{
      "name":"DeleteExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteExperimentRequest"},
      "output":{"shape":"DeleteExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"}
    },
    "DeleteModelPackage":{
      "name":"DeleteModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageInput"}
    },
    "DeleteMonitoringSchedule":{
      "name":"DeleteMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMonitoringScheduleRequest"},
      "internalonly":true
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"}
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"}
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"}
    },
    "DeleteTrial":{
      "name":"DeleteTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialRequest"},
      "output":{"shape":"DeleteTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteTrialComponent":{
      "name":"DeleteTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialComponentRequest"},
      "output":{"shape":"DeleteTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteUserProfile":{
      "name":"DeleteUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserProfileRequest"},
      "output":{"shape":"DeleteUserProfileResponse"},
      "internalonly":true
    },
    "DeleteWorkteam":{
      "name":"DeleteWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkteamRequest"},
      "output":{"shape":"DeleteWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DescribeAlgorithm":{
      "name":"DescribeAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlgorithmInput"},
      "output":{"shape":"DescribeAlgorithmOutput"}
    },
    "DescribeAnalyticsJob":{
      "name":"DescribeAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAnalyticsJobRequest"},
      "output":{"shape":"DescribeAnalyticsJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppRequest"},
      "output":{"shape":"DescribeAppResponse"},
      "internalonly":true
    },
    "DescribeAutoMLJob":{
      "name":"DescribeAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoMLJobRequest"},
      "output":{"shape":"DescribeAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeCodeRepository":{
      "name":"DescribeCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeRepositoryInput"},
      "output":{"shape":"DescribeCodeRepositoryOutput"}
    },
    "DescribeCompilationJob":{
      "name":"DescribeCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCompilationJobRequest"},
      "output":{"shape":"DescribeCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeDomain":{
      "name":"DescribeDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDomainRequest"},
      "output":{"shape":"DescribeDomainResponse"},
      "internalonly":true
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"}
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"}
    },
    "DescribeEnvironment":{
      "name":"DescribeEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentRequest"},
      "output":{"shape":"DescribeEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeEnvironmentVersion":{
      "name":"DescribeEnvironmentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEnvironmentVersionRequest"},
      "output":{"shape":"DescribeEnvironmentVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeExperiment":{
      "name":"DescribeExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExperimentRequest"},
      "output":{"shape":"DescribeExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeFlowDefinition":{
      "name":"DescribeFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowDefinitionRequest"},
      "output":{"shape":"DescribeFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeHumanTaskUi":{
      "name":"DescribeHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHumanTaskUiRequest"},
      "output":{"shape":"DescribeHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeInternal":{
      "name":"DescribeInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInternalRequest"},
      "output":{"shape":"DescribeInternalResponse"},
      "internalonly":true
    },
    "DescribeLabelingJob":{
      "name":"DescribeLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLabelingJobRequest"},
      "output":{"shape":"DescribeLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"}
    },
    "DescribeModelPackage":{
      "name":"DescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageInput"},
      "output":{"shape":"DescribeModelPackageOutput"}
    },
    "DescribeMonitoringSchedule":{
      "name":"DescribeMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMonitoringScheduleRequest"},
      "output":{"shape":"DescribeMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"}
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"}
    },
    "DescribeSubscribedWorkteam":{
      "name":"DescribeSubscribedWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscribedWorkteamRequest"},
      "output":{"shape":"DescribeSubscribedWorkteamResponse"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrial":{
      "name":"DescribeTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialRequest"},
      "output":{"shape":"DescribeTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeTrialComponent":{
      "name":"DescribeTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialComponentRequest"},
      "output":{"shape":"DescribeTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeUserProfile":{
      "name":"DescribeUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserProfileRequest"},
      "output":{"shape":"DescribeUserProfileResponse"},
      "internalonly":true
    },
    "DescribeWorkforce":{
      "name":"DescribeWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkforceRequest"},
      "output":{"shape":"DescribeWorkforceResponse"},
      "internalonly":true
    },
    "DescribeWorkteam":{
      "name":"DescribeWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkteamRequest"},
      "output":{"shape":"DescribeWorkteamResponse"}
    },
    "DisassociateTrialComponent":{
      "name":"DisassociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTrialComponentRequest"},
      "output":{"shape":"DisassociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ExportAutoMLTrialToModel":{
      "name":"ExportAutoMLTrialToModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportAutoMLTrialToModelRequest"},
      "output":{"shape":"ExportAutoMLTrialToModelResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "GetSearchSuggestions":{
      "name":"GetSearchSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSearchSuggestionsRequest"},
      "output":{"shape":"GetSearchSuggestionsResponse"}
    },
    "ListAlgorithms":{
      "name":"ListAlgorithms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlgorithmsInput"},
      "output":{"shape":"ListAlgorithmsOutput"}
    },
    "ListAnalyticsJobs":{
      "name":"ListAnalyticsJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAnalyticsJobsRequest"},
      "output":{"shape":"ListAnalyticsJobsResponse"},
      "internalonly":true
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppsRequest"},
      "output":{"shape":"ListAppsResponse"},
      "internalonly":true
    },
    "ListAutoMLJobs":{
      "name":"ListAutoMLJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutoMLJobsRequest"},
      "output":{"shape":"ListAutoMLJobsResponse"},
      "internalonly":true
    },
    "ListCodeRepositories":{
      "name":"ListCodeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeRepositoriesInput"},
      "output":{"shape":"ListCodeRepositoriesOutput"}
    },
    "ListCompilationJobs":{
      "name":"ListCompilationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCompilationJobsRequest"},
      "output":{"shape":"ListCompilationJobsResponse"}
    },
    "ListComponentJobsForAutoMLJob":{
      "name":"ListComponentJobsForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListComponentJobsForAutoMLJobRequest"},
      "output":{"shape":"ListComponentJobsForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"},
      "internalonly":true
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"}
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"}
    },
    "ListEnvironmentVersions":{
      "name":"ListEnvironmentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentVersionsRequest"},
      "output":{"shape":"ListEnvironmentVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEnvironmentsRequest"},
      "output":{"shape":"ListEnvironmentsResponse"},
      "internalonly":true
    },
    "ListExperiments":{
      "name":"ListExperiments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExperimentsRequest"},
      "output":{"shape":"ListExperimentsResponse"},
      "internalonly":true
    },
    "ListFlowDefinitions":{
      "name":"ListFlowDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlowDefinitionsRequest"},
      "output":{"shape":"ListFlowDefinitionsResponse"},
      "internalonly":true
    },
    "ListHumanTaskUis":{
      "name":"ListHumanTaskUis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHumanTaskUisRequest"},
      "output":{"shape":"ListHumanTaskUisResponse"},
      "internalonly":true
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"}
    },
    "ListLabelingJobs":{
      "name":"ListLabelingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsRequest"},
      "output":{"shape":"ListLabelingJobsResponse"}
    },
    "ListLabelingJobsForWorkteam":{
      "name":"ListLabelingJobsForWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsForWorkteamRequest"},
      "output":{"shape":"ListLabelingJobsForWorkteamResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListModelPackages":{
      "name":"ListModelPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackagesInput"},
      "output":{"shape":"ListModelPackagesOutput"}
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"}
    },
    "ListMonitoringExecutions":{
      "name":"ListMonitoringExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringExecutionsRequest"},
      "output":{"shape":"ListMonitoringExecutionsResponse"},
      "internalonly":true
    },
    "ListMonitoringSchedules":{
      "name":"ListMonitoringSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringSchedulesRequest"},
      "output":{"shape":"ListMonitoringSchedulesResponse"},
      "internalonly":true
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"}
    },
    "ListSubscribedWorkteams":{
      "name":"ListSubscribedWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribedWorkteamsRequest"},
      "output":{"shape":"ListSubscribedWorkteamsResponse"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"}
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"}
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"}
    },
    "ListTrialComponents":{
      "name":"ListTrialComponents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialComponentsRequest"},
      "output":{"shape":"ListTrialComponentsResponse"},
      "internalonly":true
    },
    "ListTrials":{
      "name":"ListTrials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialsRequest"},
      "output":{"shape":"ListTrialsResponse"},
      "internalonly":true
    },
    "ListTrialsForAutoMLJob":{
      "name":"ListTrialsForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialsForAutoMLJobRequest"},
      "output":{"shape":"ListTrialsForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListUserProfiles":{
      "name":"ListUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProfilesRequest"},
      "output":{"shape":"ListUserProfilesResponse"},
      "internalonly":true
    },
    "ListWorkteams":{
      "name":"ListWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkteamsRequest"},
      "output":{"shape":"ListWorkteamsResponse"}
    },
    "RenderUiTemplate":{
      "name":"RenderUiTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenderUiTemplateRequest"},
      "output":{"shape":"RenderUiTemplateResponse"}
    },
    "Search":{
      "name":"Search",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchRequest"},
      "output":{"shape":"SearchResponse"}
    },
    "StartMonitoringSchedule":{
      "name":"StartMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StartNotebookInstance":{
      "name":"StartNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookInstanceInput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "StopAnalyticsJob":{
      "name":"StopAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAnalyticsJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopAnalyticsJobInternal":{
      "name":"StopAnalyticsJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAnalyticsJobInternalRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopApp":{
      "name":"StopApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAppRequest"},
      "output":{"shape":"StopAppResponse"},
      "internalonly":true
    },
    "StopAutoMLJob":{
      "name":"StopAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAutoMLJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopCompilationJob":{
      "name":"StopCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCompilationJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopHyperParameterTuningJob":{
      "name":"StopHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopHyperParameterTuningJobInternal":{
      "name":"StopHyperParameterTuningJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopHyperParameterTuningJobInternalRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopLabelingJob":{
      "name":"StopLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLabelingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopMonitoringSchedule":{
      "name":"StopMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopNotebookInstance":{
      "name":"StopNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookInstanceInput"}
    },
    "StopTrainingJob":{
      "name":"StopTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopTrainingJobInternal":{
      "name":"StopTrainingJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingJobInternalRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "StopTransformJob":{
      "name":"StopTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "StopTransformJobInternal":{
      "name":"StopTransformJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTransformJobInternalRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "UpdateCodeRepository":{
      "name":"UpdateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCodeRepositoryInput"},
      "output":{"shape":"UpdateCodeRepositoryOutput"}
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainRequest"},
      "output":{"shape":"UpdateDomainResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointInput"},
      "output":{"shape":"UpdateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateEndpointWeightsAndCapacities":{
      "name":"UpdateEndpointWeightsAndCapacities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointWeightsAndCapacitiesInput"},
      "output":{"shape":"UpdateEndpointWeightsAndCapacitiesOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentRequest"},
      "output":{"shape":"UpdateEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "UpdateEnvironmentVersionStatus":{
      "name":"UpdateEnvironmentVersionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEnvironmentVersionStatusRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "UpdateExperiment":{
      "name":"UpdateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateExperimentRequest"},
      "output":{"shape":"UpdateExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "UpdateMonitoringSchedule":{
      "name":"UpdateMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMonitoringScheduleRequest"},
      "output":{"shape":"UpdateMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "UpdateNotebookInstance":{
      "name":"UpdateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceInput"},
      "output":{"shape":"UpdateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateNotebookInstanceLifecycleConfig":{
      "name":"UpdateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"UpdateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "UpdateTrialComponent":{
      "name":"UpdateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrialComponentRequest"},
      "output":{"shape":"UpdateTrialComponentResponse"},
      "errors":[
        {"shape":"TrialComponentConcurrentModificationException"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "UpdateUserProfile":{
      "name":"UpdateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserProfileRequest"},
      "output":{"shape":"UpdateUserProfileResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "UpdateWorkforce":{
      "name":"UpdateWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkforceRequest"},
      "output":{"shape":"UpdateWorkforceResponse"},
      "internalonly":true
    },
    "UpdateWorkteam":{
      "name":"UpdateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkteamRequest"},
      "output":{"shape":"UpdateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "VerifyResourcesExistForTagris":{
      "name":"VerifyResourcesExistForTagris",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagrisVerifyResourcesExistInput"},
      "output":{"shape":"TagrisVerifyResourcesExistOutput"},
      "errors":[
        {"shape":"TagrisAccessDeniedException"},
        {"shape":"TagrisInternalServiceException"},
        {"shape":"TagrisInvalidArnException"},
        {"shape":"TagrisInvalidParameterException"},
        {"shape":"TagrisPartialResourcesExistResultsException"},
        {"shape":"TagrisThrottledException"}
      ],
      "internalonly":true
    }
  },
  "shapes":{
    "Accept":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^\\d+$"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{"shape":"ResourceArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
        "Tags":{"shape":"TagList"}
      }
    },
    "AdditionalCodeRepositoryNamesOrUrls":{
      "type":"list",
      "member":{"shape":"CodeRepositoryNameOrUrl"},
      "max":3
    },
    "AlgorithmArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:algorithm/.*"
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255,
      "pattern":".*"
    },
    "AlgorithmSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime"
      ]
    },
    "AlgorithmSpecification":{
      "type":"structure",
      "required":["TrainingInputMode"],
      "members":{
        "TrainingImage":{"shape":"AlgorithmImage"},
        "AlgorithmName":{"shape":"ArnOrName"},
        "TrainingInputMode":{"shape":"TrainingInputMode"},
        "MetricDefinitions":{"shape":"MetricDefinitionList"}
      }
    },
    "AlgorithmStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Completed",
        "Failed",
        "Deleting"
      ]
    },
    "AlgorithmStatusDetails":{
      "type":"structure",
      "members":{
        "ValidationStatuses":{"shape":"AlgorithmStatusItemList"},
        "ImageScanStatuses":{"shape":"AlgorithmStatusItemList"}
      }
    },
    "AlgorithmStatusItem":{
      "type":"structure",
      "required":[
        "Name",
        "Status"
      ],
      "members":{
        "Name":{"shape":"EntityName"},
        "Status":{"shape":"DetailedAlgorithmStatus"},
        "FailureReason":{"shape":"String"}
      }
    },
    "AlgorithmStatusItemList":{
      "type":"list",
      "member":{"shape":"AlgorithmStatusItem"}
    },
    "AlgorithmSummary":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "AlgorithmArn",
        "CreationTime",
        "AlgorithmStatus"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmArn":{"shape":"AlgorithmArn"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "CreationTime":{"shape":"CreationTime"},
        "AlgorithmStatus":{"shape":"AlgorithmStatus"}
      }
    },
    "AlgorithmSummaryList":{
      "type":"list",
      "member":{"shape":"AlgorithmSummary"}
    },
    "AlgorithmValidationProfile":{
      "type":"structure",
      "required":[
        "ProfileName",
        "TrainingJobDefinition"
      ],
      "members":{
        "ProfileName":{"shape":"EntityName"},
        "TrainingJobDefinition":{"shape":"TrainingJobDefinition"},
        "TransformJobDefinition":{"shape":"TransformJobDefinition"}
      }
    },
    "AlgorithmValidationProfiles":{
      "type":"list",
      "member":{"shape":"AlgorithmValidationProfile"},
      "max":1,
      "min":1
    },
    "AlgorithmValidationSpecification":{
      "type":"structure",
      "required":[
        "ValidationRole",
        "ValidationProfiles"
      ],
      "members":{
        "ValidationRole":{"shape":"RoleArn"},
        "ValidationProfiles":{"shape":"AlgorithmValidationProfiles"}
      }
    },
    "AnalyticsClusterConfig":{
      "type":"structure",
      "required":[
        "InstanceCount",
        "InstanceType",
        "VolumeSizeInGB"
      ],
      "members":{
        "InstanceCount":{"shape":"AnalyticsInstanceCount"},
        "InstanceType":{"shape":"AnalyticsInstanceType"},
        "VolumeSizeInGB":{"shape":"AnalyticsVolumeSizeInGB"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "AnalyticsEnvironmentKey":{
      "type":"string",
      "max":256,
      "pattern":"[a-zA-Z_][a-zA-Z0-9_]*"
    },
    "AnalyticsEnvironmentMap":{
      "type":"map",
      "key":{"shape":"AnalyticsEnvironmentKey"},
      "value":{"shape":"AnalyticsEnvironmentValue"},
      "max":100
    },
    "AnalyticsEnvironmentValue":{
      "type":"string",
      "max":256,
      "pattern":"[\\S\\s]*"
    },
    "AnalyticsInput":{
      "type":"structure",
      "required":[
        "InputName",
        "S3Input"
      ],
      "members":{
        "InputName":{"shape":"String"},
        "S3Input":{"shape":"AnalyticsS3Input"}
      }
    },
    "AnalyticsInputs":{
      "type":"list",
      "member":{"shape":"AnalyticsInput"},
      "max":10,
      "min":0
    },
    "AnalyticsInstanceCount":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AnalyticsInstanceType":{
      "type":"string",
      "enum":[
        "ml.t3.medium",
        "ml.t3.large",
        "ml.t3.xlarge",
        "ml.t3.2xlarge",
        "ml.m4.xlarge",
        "ml.m4.2xlarge",
        "ml.m4.4xlarge",
        "ml.m4.10xlarge",
        "ml.m4.16xlarge",
        "ml.c4.xlarge",
        "ml.c4.2xlarge",
        "ml.c4.4xlarge",
        "ml.c4.8xlarge",
        "ml.p2.xlarge",
        "ml.p2.8xlarge",
        "ml.p2.16xlarge",
        "ml.p3.2xlarge",
        "ml.p3.8xlarge",
        "ml.p3.16xlarge",
        "ml.c5.xlarge",
        "ml.c5.2xlarge",
        "ml.c5.4xlarge",
        "ml.c5.9xlarge",
        "ml.c5.18xlarge",
        "ml.m5.large",
        "ml.m5.xlarge",
        "ml.m5.2xlarge",
        "ml.m5.4xlarge",
        "ml.m5.12xlarge",
        "ml.m5.24xlarge",
        "ml.r5.large",
        "ml.r5.xlarge",
        "ml.r5.2xlarge",
        "ml.r5.4xlarge",
        "ml.r5.12xlarge",
        "ml.r5.24xlarge"
      ]
    },
    "AnalyticsJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:analytics-job/.*"
    },
    "AnalyticsJobName":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AnalyticsJobStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Completed",
        "Failed",
        "Stopping",
        "Stopped"
      ]
    },
    "AnalyticsJobSummaries":{
      "type":"list",
      "member":{"shape":"AnalyticsJobSummary"}
    },
    "AnalyticsJobSummary":{
      "type":"structure",
      "required":[
        "AnalyticsJobName",
        "AnalyticsJobArn",
        "CreationTime",
        "AnalyticsJobStatus"
      ],
      "members":{
        "AnalyticsJobName":{"shape":"AnalyticsJobName"},
        "AnalyticsJobArn":{"shape":"AnalyticsJobArn"},
        "CreationTime":{"shape":"Timestamp"},
        "AnalyticsEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "AnalyticsJobStatus":{"shape":"AnalyticsJobStatus"},
        "FailureReason":{"shape":"FailureReason"},
        "ExitMessage":{"shape":"ExitMessage"}
      }
    },
    "AnalyticsLocalPath":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AnalyticsMaxRuntimeInSeconds":{
      "type":"integer",
      "max":604800,
      "min":1
    },
    "AnalyticsOutput":{
      "type":"structure",
      "required":[
        "OutputName",
        "S3Output"
      ],
      "members":{
        "OutputName":{"shape":"String"},
        "S3Output":{"shape":"AnalyticsS3Output"}
      }
    },
    "AnalyticsOutputs":{
      "type":"list",
      "member":{"shape":"AnalyticsOutput"},
      "max":10,
      "min":0
    },
    "AnalyticsResources":{
      "type":"structure",
      "required":["ClusterConfig"],
      "members":{
        "ClusterConfig":{"shape":"AnalyticsClusterConfig"}
      }
    },
    "AnalyticsS3CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "AnalyticsS3DataDistributionType":{
      "type":"string",
      "enum":[
        "FullyReplicated",
        "ShardedByS3Key"
      ]
    },
    "AnalyticsS3DataType":{
      "type":"string",
      "enum":[
        "ManifestFile",
        "S3Prefix"
      ]
    },
    "AnalyticsS3DownloadMode":{
      "type":"string",
      "enum":[
        "Continuous",
        "StartOfJob"
      ]
    },
    "AnalyticsS3Input":{
      "type":"structure",
      "required":[
        "S3Uri",
        "LocalPath",
        "S3DataType",
        "S3InputMode",
        "S3DownloadMode",
        "S3DataDistributionType"
      ],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"AnalyticsLocalPath"},
        "S3DataType":{"shape":"AnalyticsS3DataType"},
        "S3InputMode":{"shape":"AnalyticsS3InputMode"},
        "S3DownloadMode":{"shape":"AnalyticsS3DownloadMode"},
        "S3DataDistributionType":{"shape":"AnalyticsS3DataDistributionType"},
        "S3CompressionType":{"shape":"AnalyticsS3CompressionType"}
      }
    },
    "AnalyticsS3InputMode":{
      "type":"string",
      "enum":[
        "Pipe",
        "File"
      ]
    },
    "AnalyticsS3Output":{
      "type":"structure",
      "required":[
        "S3Uri",
        "LocalPath",
        "S3UploadMode"
      ],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"AnalyticsLocalPath"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3UploadMode":{"shape":"AnalyticsS3UploadMode"}
      }
    },
    "AnalyticsS3UploadMode":{
      "type":"string",
      "enum":[
        "Continuous",
        "EndOfJob"
      ]
    },
    "AnalyticsStateMachineArnProviderLambdaArn":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":".*"
    },
    "AnalyticsStoppingCondition":{
      "type":"structure",
      "required":["MaxRuntimeInSeconds"],
      "members":{
        "MaxRuntimeInSeconds":{"shape":"AnalyticsMaxRuntimeInSeconds"}
      }
    },
    "AnalyticsUpstreamS3Output":{
      "type":"structure",
      "required":[
        "S3Uri",
        "LocalPath",
        "S3UploadMode"
      ],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"AnalyticsLocalPath"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3UploadMode":{"shape":"AnalyticsS3UploadMode"},
        "RoleArn":{"shape":"RoleArn"}
      }
    },
    "AnalyticsVolumeSizeInGB":{
      "type":"integer",
      "max":16384,
      "min":1
    },
    "AnnotationConsolidationConfig":{
      "type":"structure",
      "required":["AnnotationConsolidationLambdaArn"],
      "members":{
        "AnnotationConsolidationLambdaArn":{"shape":"LambdaFunctionArn"}
      }
    },
    "AppDetails":{
      "type":"structure",
      "members":{
        "DomainId":{"shape":"ResourceId"},
        "IdentityId":{"shape":"IdentityId"},
        "AppType":{"shape":"AppType"},
        "AppName":{"shape":"AppName"},
        "Status":{"shape":"AppStatus"},
        "ResourceSpec":{"shape":"ResourceSpec"},
        "EffectiveResourceSpec":{"shape":"ResourceSpec"},
        "LastHealthCheckTimestamp":{"shape":"Timestamp"},
        "LastUserActivityTimestamp":{"shape":"Timestamp"}
      }
    },
    "AppList":{
      "type":"list",
      "member":{"shape":"AppDetails"}
    },
    "AppName":{
      "type":"string",
      "max":256
    },
    "AppSettings":{
      "type":"structure",
      "members":{
        "JupyterServer":{"shape":"DefaultResourceManagerSpec"},
        "KernelGateway":{"shape":"DefaultResourceManagerSpec"},
        "TensorBoard":{"shape":"DefaultResourceManagerSpec"}
      }
    },
    "AppSortKey":{
      "type":"string",
      "enum":[
        "LastUserActivityTime",
        "AppType",
        "AppName",
        "AppStatus",
        "DomainId"
      ]
    },
    "AppSpecification":{
      "type":"structure",
      "required":["ImageUri"],
      "members":{
        "ImageUri":{"shape":"ImageUri"},
        "ContainerEntrypoint":{"shape":"ContainerEntrypoint"},
        "ContainerArguments":{"shape":"ContainerArguments"}
      }
    },
    "AppStatus":{
      "type":"string",
      "enum":[
        "Deleting",
        "Failed",
        "InService",
        "Pending"
      ]
    },
    "AppType":{
      "type":"string",
      "enum":[
        "JupyterServer",
        "KernelGateway",
        "RStudio"
      ]
    },
    "ArnOrName":{
      "type":"string",
      "max":170,
      "min":1,
      "pattern":"(arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-]*\\/)?([a-zA-Z0-9]([a-zA-Z0-9-]){0,62})(?<!-)$"
    },
    "AssemblyType":{
      "type":"string",
      "enum":[
        "None",
        "Line"
      ]
    },
    "AssociateTrialComponentRequest":{
      "type":"structure",
      "required":[
        "TrialComponentName",
        "TrialName"
      ],
      "members":{
        "TrialComponentName":{"shape":"ExperimentEntityName"},
        "TrialName":{"shape":"ExperimentEntityName"},
        "DelegatedAccountId":{
          "shape":"String",
          "internalonly":true
        }
      }
    },
    "AssociateTrialComponentResponse":{
      "type":"structure",
      "members":{
        "TrialComponentArn":{"shape":"TrialComponentArn"},
        "TrialArn":{"shape":"TrialArn"}
      }
    },
    "AttributeName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".+"
    },
    "AttributeNames":{
      "type":"list",
      "member":{"shape":"AttributeName"},
      "max":16
    },
    "AutoMLAlgorithm":{
      "type":"string",
      "enum":[
        "linear-learner",
        "factorization-machines",
        "xgboost",
        "knn"
      ]
    },
    "AutoMLAlgorithms":{
      "type":"list",
      "member":{"shape":"AutoMLAlgorithm"}
    },
    "AutoMLChannel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource",
        "TargetAttributeName"
      ],
      "members":{
        "ChannelName":{"shape":"AutoMLChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"AutoMLContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"AutoMLRecordWrapper"},
        "InputMode":{"shape":"AutoMLTrainingInputMode"},
        "ShuffleConfig":{"shape":"ShuffleConfig"},
        "TargetAttributeName":{"shape":"TargetAttributeName"}
      }
    },
    "AutoMLChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "AutoMLContentType":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "AutoMLFailureReason":{
      "type":"string",
      "max":1024
    },
    "AutoMLInputDataConfig":{
      "type":"list",
      "member":{"shape":"AutoMLChannel"},
      "max":20,
      "min":1
    },
    "AutoMLInstanceType":{
      "type":"string",
      "enum":[
        "ml.m5.xlarge",
        "ml.m5.2xlarge",
        "ml.m5.4xlarge",
        "ml.m5.12xlarge",
        "ml.m5.24xlarge"
      ]
    },
    "AutoMLJobArn":{
      "type":"string",
      "max":256
    },
    "AutoMLJobArtifacts":{
      "type":"structure",
      "members":{
        "EnsembledModelLocation":{"shape":"EnsembledModelLocation"},
        "AutoMLJobSummaryNotebookLocation":{"shape":"AutoMLJobSummaryNotebookLocation"},
        "DryRunNotebookLocation":{"shape":"DryRunNotebookLocation"},
        "BestEnsembleNotebook":{"shape":"BestEnsembleNotebook"},
        "BestTrialNotebookLocation":{"shape":"BestTrialNotebookLocation"},
        "ResultVisualizationNotebookLocation":{"shape":"ResultVisualizationNotebookLocation"},
        "InterpretedModelLocation":{"shape":"InterpretedModelLocation"}
      }
    },
    "AutoMLJobConfig":{
      "type":"structure",
      "required":[
        "AutoMLResourcePools",
        "StoppingCondition"
      ],
      "members":{
        "AutoMLResourcePools":{"shape":"AutoMLResourcePools"},
        "VolumeKmsKeyId":{"shape":"KmsKeyId"},
        "StoppingCondition":{"shape":"AutoMLJobStoppingCondition"},
        "SecurityConfig":{"shape":"AutoMLSecurityConfig"},
        "BlacklistedSageMakerAlgorithms":{"shape":"AutoMLAlgorithms"}
      }
    },
    "AutoMLJobCounter":{
      "type":"integer",
      "min":0
    },
    "AutoMLJobDescription":{
      "type":"string",
      "max":3072,
      "min":0
    },
    "AutoMLJobName":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AutoMLJobObjective":{
      "type":"structure",
      "members":{
        "Type":{"shape":"AutoMLJobObjectiveType"},
        "MetricName":{"shape":"MetricName"}
      }
    },
    "AutoMLJobObjectiveType":{
      "type":"string",
      "enum":[
        "Maximize",
        "Minimize"
      ]
    },
    "AutoMLJobSecondaryStatus":{
      "type":"string",
      "enum":[
        "Starting",
        "AnalyzingData",
        "FeatureEngineering",
        "ModelTuning",
        "MaxCandidatesReached",
        "TargetObjectiveReached",
        "Failed",
        "Stopped",
        "MaxAutoMLJobRuntimeReached",
        "Stopping"
      ]
    },
    "AutoMLJobStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "InProgress",
        "Failed",
        "Stopped",
        "Stopping"
      ]
    },
    "AutoMLJobStoppingCondition":{
      "type":"structure",
      "members":{
        "MaxTrials":{"shape":"MaxTrials"},
        "MaxRuntimePerTrainingJobInSeconds":{"shape":"MaxRuntimePerTrainingJobInSeconds"},
        "TargetObjective":{"shape":"TargetObjective"},
        "MaxWaitTimeInSeconds":{"shape":"AutoMLMaxWaitTimeInSeconds"}
      }
    },
    "AutoMLJobSummaries":{
      "type":"list",
      "member":{"shape":"AutoMLJobSummary"}
    },
    "AutoMLJobSummary":{
      "type":"structure",
      "required":[
        "AutoMLJobName",
        "AutoMLJobArn",
        "AutoMLResourcePools",
        "AutoMLJobStatus",
        "AutoMLJobSecondaryStatus",
        "TrialStatusCounters",
        "ObjectiveStatusCounters",
        "JobCreationTime",
        "JobLastModifiedTime"
      ],
      "members":{
        "AutoMLJobName":{"shape":"AutoMLJobName"},
        "AutoMLJobArn":{"shape":"AutoMLJobArn"},
        "AutoMLResourcePools":{"shape":"AutoMLResourcePools"},
        "AutoMLJobStatus":{"shape":"AutoMLJobStatus"},
        "AutoMLJobSecondaryStatus":{"shape":"AutoMLJobSecondaryStatus"},
        "TrialStatusCounters":{"shape":"TrialStatusCounters"},
        "ObjectiveStatusCounters":{"shape":"ObjectiveStatusCounters"},
        "JobCreationTime":{"shape":"Timestamp"},
        "JobEndTime":{"shape":"Timestamp"},
        "JobLastModifiedTime":{"shape":"Timestamp"},
        "FailureReason":{"shape":"AutoMLFailureReason"}
      }
    },
    "AutoMLJobSummaryNotebookLocation":{"type":"string"},
    "AutoMLMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AutoMLMaxWaitTimeInSeconds":{
      "type":"integer",
      "min":1
    },
    "AutoMLNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9\\-]+"
    },
    "AutoMLOutputDataConfig":{
      "type":"structure",
      "required":["S3OutputPath"],
      "members":{
        "KmsKeyId":{"shape":"KmsKeyId"},
        "S3OutputPath":{"shape":"S3Uri"},
        "RemoveJobNameFromS3OutputPath":{
          "shape":"AutoMLRemoveJobNameFromS3OutputPath",
          "internalonly":true
        }
      }
    },
    "AutoMLRecordWrapper":{
      "type":"string",
      "enum":[
        "None",
        "RecordIO"
      ]
    },
    "AutoMLRemoveJobNameFromS3OutputPath":{"type":"boolean"},
    "AutoMLResourcePool":{
      "type":"structure",
      "required":[
        "InstanceType",
        "PoolSize"
      ],
      "members":{
        "InstanceType":{"shape":"AutoMLInstanceType"},
        "PoolSize":{"shape":"PoolSize"}
      }
    },
    "AutoMLResourcePools":{
      "type":"list",
      "member":{"shape":"AutoMLResourcePool"},
      "min":1
    },
    "AutoMLSecurityConfig":{
      "type":"structure",
      "members":{
        "EnableInterContainerTrafficEncryption":{"shape":"Boolean"},
        "EnableNetworkIsolation":{"shape":"Boolean"},
        "VpcConfig":{"shape":"VpcConfig"}
      }
    },
    "AutoMLSortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "Status"
      ]
    },
    "AutoMLSortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "AutoMLTrainingInputMode":{
      "type":"string",
      "enum":[
        "Pipe",
        "File"
      ]
    },
    "AutoMLTrialStep":{
      "type":"structure",
      "required":[
        "TrialStepType",
        "TrialStepArn"
      ],
      "members":{
        "TrialStepType":{"shape":"TrialStepType"},
        "TrialStepArn":{"shape":"TrialStepArn"}
      }
    },
    "AutoMLTrialSteps":{
      "type":"list",
      "member":{"shape":"AutoMLTrialStep"}
    },
    "AutoMLTrialSummaries":{
      "type":"list",
      "member":{"shape":"AutoMLTrialSummary"}
    },
    "AutoMLTrialSummary":{
      "type":"structure",
      "required":[
        "TrialIdentifier",
        "ObjectiveStatus",
        "TrialSteps",
        "TrialStatus",
        "TrialSecondaryStatus",
        "TrialCreationTime",
        "LastModifiedTime",
        "TrialDescription"
      ],
      "members":{
        "TrialIdentifier":{"shape":"TrialIdentifier"},
        "FinalAutoMLJobObjectiveMetric":{"shape":"FinalAutoMLJobObjectiveMetric"},
        "ObjectiveStatus":{"shape":"ObjectiveStatus"},
        "TrialSteps":{"shape":"AutoMLTrialSteps"},
        "TrialStatus":{"shape":"TrialStatus"},
        "TrialSecondaryStatus":{"shape":"TrialSecondaryStatus"},
        "TrialCreationTime":{"shape":"Timestamp"},
        "TrialEndTime":{"shape":"Timestamp"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "FailureReason":{"shape":"AutoMLFailureReason"},
        "TrialDescription":{"shape":"TrialDescription"}
      }
    },
    "AwsManagedHumanLoopRequestSource":{
      "type":"string",
      "enum":[
        "AWS/Rekognition/Image/ContentModeration/V3",
        "AWS/Textract/DocumentAnalysis/KeyValueExtraction"
      ]
    },
    "BatchGetMetricsRequest":{
      "type":"structure",
      "required":["MetricQueries"],
      "members":{
        "MetricQueries":{"shape":"MetricQueryList"}
      }
    },
    "BatchGetMetricsResponse":{
      "type":"structure",
      "members":{
        "MetricQueryResults":{"shape":"MetricQueryResultList"}
      }
    },
    "BatchPutMetricsError":{
      "type":"structure",
      "required":[
        "Code",
        "Message",
        "MetricIndex"
      ],
      "members":{
        "Code":{"shape":"PutMetricsErrorCode"},
        "Message":{"shape":"String"},
        "MetricIndex":{"shape":"Integer"}
      }
    },
    "BatchPutMetricsErrorList":{
      "type":"list",
      "member":{"shape":"BatchPutMetricsError"},
      "max":100,
      "min":1
    },
    "BatchPutMetricsRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "MetricData"
      ],
      "members":{
        "ResourceArn":{"shape":"SageMakerResourceArn"},
        "MetricData":{"shape":"RawMetricDataList"}
      }
    },
    "BatchPutMetricsResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"BatchPutMetricsErrorList"}
      }
    },
    "BatchStrategy":{
      "type":"string",
      "enum":[
        "MultiRecord",
        "SingleRecord"
      ]
    },
    "BestEnsembleNotebook":{"type":"string"},
    "BestTrialNotebookLocation":{"type":"string"},
    "BillableTimeInSeconds":{
      "type":"integer",
      "min":1
    },
    "Boolean":{"type":"boolean"},
    "BooleanOperator":{
      "type":"string",
      "enum":[
        "And",
        "Or"
      ]
    },
    "Branch":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^ ~^:?*\\[]+"
    },
    "CaptureContentTypeHeader":{
      "type":"structure",
      "members":{
        "CsvContentTypes":{"shape":"CsvContentTypes"},
        "JsonContentTypes":{"shape":"JsonContentTypes"}
      }
    },
    "CaptureMode":{
      "type":"string",
      "enum":[
        "Input",
        "Output"
      ]
    },
    "CaptureOption":{
      "type":"structure",
      "required":["CaptureMode"],
      "members":{
        "CaptureMode":{"shape":"CaptureMode"}
      }
    },
    "CaptureOptionList":{
      "type":"list",
      "member":{"shape":"CaptureOption"},
      "max":2,
      "min":1
    },
    "CaptureStatus":{
      "type":"string",
      "enum":[
        "Started",
        "Stopped"
      ]
    },
    "CategoricalParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRangeSpecification":{
      "type":"structure",
      "required":["Values"],
      "members":{
        "Values":{"shape":"ParameterValues"}
      }
    },
    "CategoricalParameterRanges":{
      "type":"list",
      "member":{"shape":"CategoricalParameterRange"},
      "max":20,
      "min":0
    },
    "Cents":{
      "type":"integer",
      "max":99,
      "min":0
    },
    "CertifyForMarketplace":{"type":"boolean"},
    "Channel":{
      "type":"structure",
      "required":[
        "ChannelName",
        "DataSource"
      ],
      "members":{
        "ChannelName":{"shape":"ChannelName"},
        "DataSource":{"shape":"DataSource"},
        "ContentType":{"shape":"ContentType"},
        "CompressionType":{"shape":"CompressionType"},
        "RecordWrapperType":{"shape":"RecordWrapper"},
        "InputMode":{"shape":"TrainingInputMode"},
        "ShuffleConfig":{"shape":"ShuffleConfig"}
      }
    },
    "ChannelName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9\\.\\-_]+"
    },
    "ChannelSpecification":{
      "type":"structure",
      "required":[
        "Name",
        "SupportedContentTypes",
        "SupportedInputModes"
      ],
      "members":{
        "Name":{"shape":"ChannelName"},
        "Description":{"shape":"EntityDescription"},
        "IsRequired":{"shape":"Boolean"},
        "SupportedContentTypes":{"shape":"ContentTypes"},
        "SupportedCompressionTypes":{"shape":"CompressionTypes"},
        "SupportedInputModes":{"shape":"InputModes"}
      }
    },
    "ChannelSpecifications":{
      "type":"list",
      "member":{"shape":"ChannelSpecification"},
      "max":8,
      "min":1
    },
    "CheckpointConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{"shape":"S3Uri"},
        "LocalPath":{"shape":"DirectoryPath"}
      }
    },
    "Cidr":{
      "type":"string",
      "max":64,
      "min":4,
      "pattern":"(^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[0-9]))$)|(^s*((([0-9A-Fa-f]{1,4}:){7}([0-9A-Fa-f]{1,4}|:))|(([0-9A-Fa-f]{1,4}:){6}(:[0-9A-Fa-f]{1,4}|((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){5}(((:[0-9A-Fa-f]{1,4}){1,2})|:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3})|:))|(([0-9A-Fa-f]{1,4}:){4}(((:[0-9A-Fa-f]{1,4}){1,3})|((:[0-9A-Fa-f]{1,4})?:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){3}(((:[0-9A-Fa-f]{1,4}){1,4})|((:[0-9A-Fa-f]{1,4}){0,2}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){2}(((:[0-9A-Fa-f]{1,4}){1,5})|((:[0-9A-Fa-f]{1,4}){0,3}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(([0-9A-Fa-f]{1,4}:){1}(((:[0-9A-Fa-f]{1,4}){1,6})|((:[0-9A-Fa-f]{1,4}){0,4}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:))|(:(((:[0-9A-Fa-f]{1,4}){1,7})|((:[0-9A-Fa-f]{1,4}){0,5}:((25[0-5]|2[0-4]d|1dd|[1-9]?d)(.(25[0-5]|2[0-4]d|1dd|[1-9]?d)){3}))|:)))(%.+)?s*(\\/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9]))$)"
    },
    "Cidrs":{
      "type":"list",
      "member":{"shape":"Cidr"}
    },
    "ClientToken":{"type":"string"},
    "CodeRepositoryArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:code-repository/.*"
    },
    "CodeRepositoryContains":{
      "type":"string",
      "max":1024,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameContains":{
      "type":"string",
      "max":63,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CodeRepositoryNameOrUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^https://([^/]+)/?(.*)$|^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "CodeRepositorySortBy":{
      "type":"string",
      "enum":[
        "Name",
        "CreationTime",
        "LastModifiedTime"
      ]
    },
    "CodeRepositorySortOrder":{
      "type":"string",
      "enum":[
        "Ascending",
        "Descending"
      ]
    },
    "CodeRepositorySummary":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "CodeRepositoryArn",
        "CreationTime",
        "LastModifiedTime"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"},
        "CreationTime":{"shape":"CreationTime"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CodeRepositorySummaryList":{
      "type":"list",
      "member":{"shape":"CodeRepositorySummary"}
    },
    "CognitoClientId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w+]+"
    },
    "CognitoMemberDefinition":{
      "type":"structure",
      "required":[
        "UserPool",
        "UserGroup",
        "ClientId"
      ],
      "members":{
        "UserPool":{"shape":"CognitoUserPool"},
        "UserGroup":{"shape":"CognitoUserGroup"},
        "ClientId":{"shape":"CognitoClientId"}
      }
    },
    "CognitoUserGroup":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+"
    },
    "CognitoUserPool":{
      "type":"string",
      "max":55,
      "min":1,
      "pattern":"[\\w-]+_[0-9a-zA-Z]+"
    },
    "CompilationJobArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:compilation-job/.*"
    },
    "CompilationJobStatus":{
      "type":"string",
      "enum":[
        "INPROGRESS",
        "COMPLETED",
        "FAILED",
        "STARTING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "CompilationJobSummaries":{
      "type":"list",
      "member":{"shape":"CompilationJobSummary"}
    },
    "CompilationJobSummary":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "CompilationJobArn",
        "CreationTime",
        "CompilationTargetDevice",
        "CompilationJobStatus"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "CompilationJobArn":{"shape":"CompilationJobArn"},
        "CreationTime":{"shape":"CreationTime"},
        "CompilationStartTime":{"shape":"Timestamp"},
        "CompilationEndTime":{"shape":"Timestamp"},
        "CompilationTargetDevice":{"shape":"TargetDevice"},
        "LastModifiedTime":{"shape":"LastModifiedTime"},
        "CompilationJobStatus":{"shape":"CompilationJobStatus"}
      }
    },
    "CompletedObjects":{
      "type":"long",
      "min":0
    },
    "ComponentJobArn":{"type":"string"},
    "ComponentJobDescription":{"type":"string"},
    "ComponentJobName":{"type":"string"},
    "ComponentJobStatus":{
      "type":"string",
      "enum":[
        "Completed",
        "Pending",
        "InProgress",
        "Failed",
        "Stopped"
      ]
    },
    "ComponentJobSummaries":{
      "type":"list",
      "member":{"shape":"ComponentJobSummary"}
    },
    "ComponentJobSummary":{
      "type":"structure",
      "required":[
        "AutoMLJobName",
        "AutoMLJobArn",
        "LastModifiedTime",
        "Status",
        "CreationTime",
        "JobType",
        "JobName",
        "JobArn",
        "Description"
      ],
      "members":{
        "AutoMLJobName":{"shape":"AutoMLJobName"},
        "AutoMLJobArn":{"shape":"AutoMLJobArn"},
        "LastModifiedTime":{"shape":"Timestamp"},
        "Status":{"shape":"ComponentJobStatus"},
        "CreationTime":{"shape":"Timestamp"},
        "JobType":{"shape":"ComponentJobType"},
        "JobName":{"shape":"ComponentJobName"},
        "JobArn":{"shape":"ComponentJobArn"},
        "EndTime":{"shape":"Timestamp"},
        "FailureReason":{"shape":"AutoMLFailureReason"},
        "Description":{"shape":"ComponentJobDescription"}
      }
    },
    "ComponentJobType":{
      "type":"string",
      "enum":[
        "AWS::Sagemaker::Training",
        "AWS::SageMaker::HyperParameterTuning",
        "AWS::SageMaker::Transform"
      ]
    },
    "CompressionType":{
      "type":"string",
      "enum":[
        "None",
        "Gzip"
      ]
    },
    "CompressionTypes":{
      "type":"list",
      "member":{"shape":"CompressionType"}
    },
    "ConfigKey":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ConfigValue":{
      "type":"string",
      "max":256
    },
    "ContainerArgument":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContainerArguments":{
      "type":"list",
      "member":{"shape":"ContainerArgument"},
      "max":100,
      "min":1
    },
    "ContainerDefinition":{
      "type":"structure",
      "members":{
        "ContainerHostname":{"shape":"ContainerHostname"},
        "Image":{"shape":"Image"},
        "Mode":{
          "shape":"ContainerMode",
          "internalonly":true
        },
        "ModelDataUrl":{"shape":"Url"},
        "Environment":{"shape":"EnvironmentMap"},
        "ModelPackageName":{"shape":"ArnOrName"}
      }
    },
    "ContainerDefinitionList":{
      "type":"list",
      "member":{"shape":"ContainerDefinition"},
      "max":5
    },
    "ContainerEntrypoint":{
      "type":"list",
      "member":{"shape":"ContainerEntrypointString"},
      "max":100,
      "min":1
    },
    "ContainerEntrypointString":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContainerHostname":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ContainerMode":{
      "type":"string",
      "enum":[
        "SingleModel",
        "MultiModel"
      ]
    },
    "Content":{"type":"string"},
    "ContentClassifier":{
      "type":"string",
      "enum":[
        "FreeOfPersonallyIdentifiableInformation",
        "FreeOfAdultContent"
      ]
    },
    "ContentClassifiers":{
      "type":"list",
      "member":{"shape":"ContentClassifier"},
      "max":256
    },
    "ContentType":{
      "type":"string",
      "max":256,
      "pattern":".*"
    },
    "ContentTypes":{
      "type":"list",
      "member":{"shape":"ContentType"}
    },
    "ContinuousParameterRange":{
      "type":"structure",
      "required":[
        "Name",
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "Name":{"shape":"ParameterKey"},
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"},
        "ScalingType":{"shape":"HyperParameterScalingType"}
      }
    },
    "ContinuousParameterRangeSpecification":{
      "type":"structure",
      "required":[
        "MinValue",
        "MaxValue"
      ],
      "members":{
        "MinValue":{"shape":"ParameterValue"},
        "MaxValue":{"shape":"ParameterValue"}
      }
    },
    "ContinuousParameterRanges":{
      "type":"list",
      "member":{"shape":"ContinuousParameterRange"},
      "max":20,
      "min":0
    },
    "CreateAlgorithmInput":{
      "type":"structure",
      "required":[
        "AlgorithmName",
        "TrainingSpecification"
      ],
      "members":{
        "AlgorithmName":{"shape":"EntityName"},
        "AlgorithmDescription":{"shape":"EntityDescription"},
        "TrainingSpecification":{"shape":"TrainingSpecification"},
        "InferenceSpecification":{"shape":"InferenceSpecification"},
        "ValidationSpecification":{"shape":"AlgorithmValidationSpecification"},
        "CertifyForMarketplace":{"shape":"CertifyForMarketplace"},
        "RequireImageScan":{
          "shape":"RequireImageScan",
          "internalonly":true
        }
      }
    },
    "CreateAlgorithmOutput":{
      "type":"structure",
      "required":["AlgorithmArn"],
      "members":{
        "AlgorithmArn":{"shape":"AlgorithmArn"}
      }
    },
    "CreateAnalyticsJobInternalRequest":{
      "type":"structure",
      "required":[
        "AnalyticsJobName",
        "AnalyticsResources",
        "StoppingCondition",
        "AppSpecification",
        "RoleArn",
        "CustomerDetails"
      ],
      "members":{
        "AnalyticsInputs":{"shape":"AnalyticsInputs"},
        "AnalyticsOutputs":{"shape":"AnalyticsOutputs"},
        "AnalyticsJobName":{"shape":"AnalyticsJobName"},
        "AnalyticsResources":{"shape":"AnalyticsResources"},
        "StoppingCondition":{"shape":"AnalyticsStoppingCondition"},
        "AppSpecification":{"shape":"AppSpecification"},
        "Environment":{"shape":"AnalyticsEnvironmentMap"},
        "NetworkConfig":{"shape":"NetworkConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "CustomerDetails":{"shape":"CustomerDetails"},
        "UpstreamAnalyticsOutputs":{"shape":"UpstreamAnalyticsOutputs"},
        "MonitoringScheduleArn":{"shape":"MonitoringScheduleArn"},
        "AutoMLJobArn":{"shape":"AutoMLJobArn"},
        "TrainingJobArn":{"shape":"TrainingJobArn"},
        "StateMachineArnProviderLambdaArn":{"shape":"AnalyticsStateMachineArnProviderLambdaArn"},
        "FasCredentials":{"shape":"FasCredentials"},
        "PlatformCredentialToken":{"shape":"ProxyToken"},
        "CustomerCredentialToken":{"shape":"ProxyToken"},
        "CredentialProviderFunction":{"shape":"CredentialProviderLambdaFunctionArn"},
        "CredentialProviderEncryptionKey":{"shape":"KmsKeyId"},
        "ExperimentConfig":{"shape":"ExperimentConfig"}
      }
    },
    "CreateAnalyticsJobInternalResponse":{
      "type":"structure",
      "members":{
        "AnalyticsJobResponse":{"shape":"CreateAnalyticsJobResponse"}
      }
    },
    "CreateAnalyticsJobRequest":{
      "type":"structure",
      "required":[
        "AnalyticsJobName",
        "AnalyticsResources",
        "StoppingCondition",
        "AppSpecification",
        "RoleArn"
      ],
      "members":{
        "AnalyticsInputs":{"shape":"AnalyticsInputs"},
        "AnalyticsOutputs":{"shape":"AnalyticsOutputs"},
        "AnalyticsJobName":{"shape":"AnalyticsJobName"},
        "AnalyticsResources":{"shape":"AnalyticsResources"},
        "StoppingCondition":{"shape":"AnalyticsStoppingCondition"},
        "AppSpecification":{"shape":"AppSpecification"},
        "Environment":{"shape":"AnalyticsEnvironmentMap"},
        "NetworkConfig":{"shape":"NetworkConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "ExperimentConfig":{
          "shape":"ExperimentConfig",
          "internalonly":true
        },
        "UpstreamAnalyticsOutputs":{
          "shape":"UpstreamAnalyticsOutputs",
          "internalonly":true
        },
        "PlatformCredentialToken":{
          "shape":"ProxyToken",
          "internalonly":true
        },
        "CustomerCredentialToken":{
          "shape":"ProxyToken",
          "internalonly":true
        },
        "CredentialProviderFunction":{
          "shape":"CredentialProviderLambdaFunctionArn",
          "internalonly":true
        },
        "CredentialProviderEncryptionKey":{
          "shape":"KmsKeyId",
          "internalonly":true
        }
      }
    },
    "CreateAnalyticsJobResponse":{
      "type":"structure",
      "required":["AnalyticsJobArn"],
      "members":{
        "AnalyticsJobArn":{"shape":"AnalyticsJobArn"}
      }
    },
    "CreateAppRequest":{
      "type":"structure",
      "required":[
        "AppType",
        "AppName",
        "ResourceSpec"
      ],
      "members":{
        "DomainId":{"shape":"ResourceId"},
        "IdentityId":{"shape":"IdentityId"},
        "AppType":{"shape":"AppType"},
        "AppName":{"shape":"AppName"},
        "ResourceSpec":{"shape":"ResourceSpec"}
      }
    },
    "CreateAppResponse":{
      "type":"structure",
      "members":{
        "AppArn":{"shape":"String256"}
      }
    },
    "CreateAutoMLJobRequest":{
      "type":"structure",
      "required":[
        "AutoMLJobName",
        "InputDataConfig",
        "OutputDataConfig",
        "JobConfig",
        "RoleArn"
      ],
      "members":{
        "AutoMLJobName":{"shape":"AutoMLJobName"},
        "InputDataConfig":{"shape":"AutoMLInputDataConfig"},
        "OutputDataConfig":{"shape":"AutoMLOutputDataConfig"},
        "ProblemType":{"shape":"ProblemType"},
        "JobObjective":{"shape":"AutoMLJobObjective"},
        "JobConfig":{"shape":"AutoMLJobConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "DryRun":{"shape":"DryRun"},
        "Tags":{"shape":"TagList"},
        "Description":{"shape":"AutoMLJobDescription"},
        "ImageUrlOverrides":{
          "shape":"ImageUrlOverrides",
          "internalonly":true
        }
      }
    },
    "CreateAutoMLJobResponse":{
      "type":"structure",
      "required":["AutoMLJobArn"],
      "members":{
        "AutoMLJobArn":{"shape":"AutoMLJobArn"}
      }
    },
    "CreateCodeRepositoryInput":{
      "type":"structure",
      "required":[
        "CodeRepositoryName",
        "GitConfig"
      ],
      "members":{
        "CodeRepositoryName":{"shape":"EntityName"},
        "GitConfig":{"shape":"GitConfig"}
      }
    },
    "CreateCodeRepositoryOutput":{
      "type":"structure",
      "required":["CodeRepositoryArn"],
      "members":{
        "CodeRepositoryArn":{"shape":"CodeRepositoryArn"}
      }
    },
    "CreateCompilationJobRequest":{
      "type":"structure",
      "required":[
        "CompilationJobName",
        "RoleArn",
        "InputConfig",
        "OutputConfig",
        "StoppingCondition"
      ],
      "members":{
        "CompilationJobName":{"shape":"EntityName"},
        "RoleArn":{"shape":"RoleArn"},
        "InputConfig":{"shape":"InputConfig"},
        "OutputConfig":{"shape":"OutputConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{
          "shape":"TagList",
          "internalonly":true
        }
      }
    },
    "CreateCompilationJobResponse":{
      "type":"structure",
      "required":["CompilationJobArn"],
      "members":{
        "CompilationJobArn":{"shape":"CompilationJobArn"}
      }
    },
    "CreateCrossAccountTrainingJobRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "AlgorithmSpecification",
        "CrossAccountRoleArn",
        "InputDataConfig",
        "OutputDataConfig",
        "ResourceConfig",
        "StoppingCondition"
      ],
      "members":{
        "TrainingJobName":{"shape":"TrainingJobName"},
        "HyperParameters":{"shape":"HyperParameters"},
        "AlgorithmSpecification":{"shape":"AlgorithmSpecification"},
        "CrossAccountRoleArn":{"shape":"RoleArn"},
        "InputDataConfig":{"shape":"InputDataConfig"},
        "OutputDataConfig":{"shape":"OutputDataConfig"},
        "ResourceConfig":{"shape":"ResourceConfig"},
        "VpcConfig":{"shape":"VpcConfig"},
        "StoppingCondition":{"shape":"StoppingCondition"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateCrossAccountTrainingJobResponse":{
      "type":"structure",
      "required":["TrainingJobArn"],
      "members":{
        "TrainingJobArn":{"shape":"TrainingJobArn"}
      }
    },
    "CreateDomainRequest":{
      "type":"structure",
      "required":[
        "DefaultSettings",
        "SubnetIds",
        "VpcId"
      ],
      "members":{
        "DefaultSettings":{"shape":"UserSettings"},
        "DomainPolicy":{"shape":"String2048"},
        "KmsKeyId":{"shape":"KmsKeyId"},
        "SubnetIds":{"shape":"Subnets"},
        "VpcId":{"shape":"VpcId"}
      }
    },
    "CreateDomainResponse":{
      "type":"structure",
      "members":{
        "DomainArn":{"shape":"String256"},
        "Url":{"shape":"String1024"}
      }
    },
    "CreateEndpointConfigInput":{
      "type":"structure",
      "required":[
        "EndpointConfigName",
        "ProductionVariants"
      ],
      "members":{
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "ProductionVariants":{"shape":"ProductionVariantList"},
        "DataCaptureConfig":{
          "shape":"DataCaptureConfig",
          "internalonly":true
        },
        "Tags":{"shape":"TagList"},
        "KmsKeyId":{"shape":"KmsKeyId"}
      }
    },
    "CreateEndpointConfigOutput":{
      "type":"structure",
      "required":["EndpointConfigArn"],
      "members":{
        "EndpointConfigArn":{"shape":"EndpointConfigArn"}
      }
    },
    "CreateEndpointInput":{
      "type":"structure",
      "required":[
        "EndpointName",
        "EndpointConfigName"
      ],
      "members":{
        "EndpointName":{"shape":"EndpointName"},
        "EndpointConfigName":{"shape":"EndpointConfigName"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateEndpointOutput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{"shape":"EndpointArn"}
      }
    },
    "CreateEnvironmentRequest":{
      "type":"structure",
      "required":["EnvironmentName"],
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "Repository":{"shape":"Repository"},
        "RoleArn":{"shape":"RoleArn"},
        "EnableNetworkIsolation":{"shape":"EnableNetworkIsolation"},
        "VpcConfig":{"shape":"VpcConfig"},
        "Tags":{"shape":"TagList"},
        "ExpirationInDays":{"shape":"ExpirationInDays"},
        "KeepS3ArtifactsOnDelete":{"shape":"KeepS3ArtifactsOnDelete"},
        "Metadata":{"shape":"Metadata"},
        "S3ArtifactPath":{"shape":"S3ArtifactPath"}
      }
    },
    "CreateEnvironmentResponse":{
      "type":"structure",
      "required":["EnvironmentArn"],
      "members":{
        "EnvironmentArn":{"shape":"EnvironmentArn"}
      }
    },
    "CreateEnvironmentVersionRequest":{
      "type":"structure",
      "required":[
        "EnvironmentName",
        "EnvironmentDefinitionLayers",
        "ClientToken"
      ],
      "members":{
        "EnvironmentName":{"shape":"EnvironmentName"},
        "EnvironmentVersionNames":{"shape":"EnvironmentVersionNames"},
        "EnvironmentDefinitionLayers":{"shape":"EnvironmentDefinitionLayers"},
        "OverwriteLastUnnamedVersion":{"shape":"OverwriteLastUnnamedVersion"},
        "Metadata":{"shape":"Metadata"},
        "ClientToken":{"shape":"ClientToken"}
      }
    },
    "CreateEnvironmentVersionResponse":{
      "type":"structure",
      "members":{
        "EnvironmentVersionArn":{"shape":"EnvironmentVersionArn"},
        "EnvironmentVersionNumber":{"shape":"EnvironmentVersionNumber"}
      }
    },
    "CreateExperimentRequest":{
      "type":"structure",
      "required":["ExperimentName"],
      "members":{
        "ExperimentName":{"shape":"ExperimentEntityName"},
        "Description":{"shape":"ExperimentDescription"},
        "Source":{
          "shape":"ExperimentSource",
          "internalonly":true
        },
        "Tags":{"shape":"TagList"},
        "DelegatedAccountId":{
          "shape":"String",
          "internalonly":true
        }
      }
    },
    "CreateExperimentResponse":{
      "type":"structure",
      "members":{
        "ExperimentArn":{"shape":"ExperimentArn"}
      }
    },
    "CreateFlowDefinitionRequest":{
      "type":"structure",
      "required":[
        "FlowDefinitionName",
        "HumanLoopConfig",
        "OutputConfig",
        "RoleArn"
      ],
      "members":{
        "FlowDefinitionName":{"shape":"FlowDefinitionName"},
        "HumanLoopActivationConfig":{"shape":"HumanLoopActivationConfig"},
        "HumanLoopConfig":{"shape":"HumanLoopConfig"},
        "OutputConfig":{"shape":"FlowDefinitionOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateFlowDefinitionResponse":{
      "type":"structure",
      "required":["FlowDefinitionArn"],
      "members":{
        "FlowDefinitionArn":{"shape":"FlowDefinitionArn"}
      }
    },
    "CreateHumanTaskUiRequest":{
      "type":"structure",
      "required":[
        "HumanTaskUiName",
        "UiTemplate"
      ],
      "members":{
        "HumanTaskUiName":{"shape":"HumanTaskUiName"},
        "UiTemplate":{"shape":"UiTemplate"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHumanTaskUiResponse":{
      "type":"structure",
      "required":["HumanTaskUiArn"],
      "members":{
        "HumanTaskUiArn":{"shape":"HumanTaskUiArn"}
      }
    },
    "CreateHyperParameterTuningJobInternalRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig",
        "CustomerDetails"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "TrainingJobDefinitions":{"shape":"HyperParameterTrainingJobDefinitions"},
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "Tags":{"shape":"TagList"},
        "CustomerDetails":{"shape":"CustomerDetails"},
        "AutoMLJobArn":{"shape":"AutoMLJobArn"}
      }
    },
    "CreateHyperParameterTuningJobInternalResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"}
      }
    },
    "CreateHyperParameterTuningJobRequest":{
      "type":"structure",
      "required":[
        "HyperParameterTuningJobName",
        "HyperParameterTuningJobConfig"
      ],
      "members":{
        "HyperParameterTuningJobName":{"shape":"HyperParameterTuningJobName"},
        "HyperParameterTuningJobConfig":{"shape":"HyperParameterTuningJobConfig"},
        "TrainingJobDefinition":{"shape":"HyperParameterTrainingJobDefinition"},
        "TrainingJobDefinitions":{
          "shape":"HyperParameterTrainingJobDefinitions",
          "internalonly":true
        },
        "WarmStartConfig":{"shape":"HyperParameterTuningJobWarmStartConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateHyperParameterTuningJobResponse":{
      "type":"structure",
      "required":["HyperParameterTuningJobArn"],
      "members":{
        "HyperParameterTuningJobArn":{"shape":"HyperParameterTuningJobArn"}
      }
    },
    "CreateLabelingJobRequest":{
      "type":"structure",
      "required":[
        "LabelingJobName",
        "LabelAttributeName",
        "InputConfig",
        "OutputConfig",
        "RoleArn",
        "HumanTaskConfig"
      ],
      "members":{
        "LabelingJobName":{"shape":"LabelingJobName"},
        "LabelAttributeName":{"shape":"LabelAttributeName"},
        "InputConfig":{"shape":"LabelingJobInputConfig"},
        "OutputConfig":{"shape":"LabelingJobOutputConfig"},
        "RoleArn":{"shape":"RoleArn"},
        "LabelCategoryConfigS3Uri":{"shape":"S3Uri"},
        "StoppingConditions":{"shape":"LabelingJobStoppingConditions"},
        "LabelingJobAlgorithmsConfig":{"shape":"LabelingJobAlgorithmsConfig"},
        "HumanTaskConfig":{"shape":"HumanTaskConfig"},
        "Tags":{"shape":"TagList"}
      }
    },
    "CreateLabelingJobResponse":{
      "type":"structure",
      "required":["LabelingJobArn"],
      "members":{
        "LabelingJobArn":{"shape":"LabelingJobArn"}
      }
    },
    "CreateModelInput":{
      "type":"structure",
      "required":[
        "ModelName",
        "ExecutionRoleArn"
      ],
      "members":{
        "ModelName":{"shape":"ModelName"},
        "PrimaryContainer":{"shape":"ContainerDefinition"},
        "Containers":{"shape":"ContainerDefinitionList"},
        "ExecutionRoleArn":{"shape":"RoleArn"},
        "Tags":{"shape":"TagList"},
        "VpcConfig":{"shape":"VpcConfig"},
        "EnableNetworkIsolation":{"shape":"Boolean"}
      }
    },
    "CreateModelInternalInput":{
      "type":"structure",
      "required":["ModelInput"],
      "members":{
[...]
