{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-09-30",
    "endpointPrefix":"metrics.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"SageMaker Metrics",
    "serviceFullName":"Amazon SageMaker Metrics Service",
    "serviceId":"SageMaker Metrics",
    "signatureVersion":"v4",
    "signingName":"ease",
    "uid":"sagemaker-metrics-2022-09-30"
  },
  "operations":{
    "BatchGetMetrics":{
      "name":"BatchGetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetMetrics"
      },
      "input":{"shape":"BatchGetMetricsRequest"},
      "output":{"shape":"BatchGetMetricsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessDeniedError"}
      ],
      "documentation":"API to get the metrics for jobs."
    },
    "BatchPutMetrics":{
      "name":"BatchPutMetrics",
      "http":{
        "method":"PUT",
        "requestUri":"/BatchPutMetrics"
      },
      "input":{"shape":"BatchPutMetricsRequest"},
      "output":{"shape":"BatchPutMetricsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessDeniedError"}
      ],
      "documentation":"API to publish metrics for a given SageMaker job."
    },
    "GetLatestMetricDatum":{
      "name":"GetLatestMetricDatum",
      "http":{
        "method":"POST",
        "requestUri":"/GetLatestMetricDatum"
      },
      "input":{"shape":"GetLatestMetricDatumRequest"},
      "output":{"shape":"GetLatestMetricDatumResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"}
      ],
      "documentation":"API to capture latest metric value for a given training job."
    },
    "GetMetrics":{
      "name":"GetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/GetMetrics"
      },
      "input":{"shape":"GetMetricsRequest"},
      "output":{"shape":"GetMetricsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessDeniedError"}
      ],
      "documentation":"API to retrieve metrics."
    },
    "PublishEarlyStoppingMetrics":{
      "name":"PublishEarlyStoppingMetrics",
      "http":{
        "method":"PUT",
        "requestUri":"/PublishEarlyStoppingMetrics"
      },
      "input":{"shape":"PublishEarlyStoppingMetricsRequest"},
      "output":{"shape":"PublishEarlyStoppingMetricsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceInUse"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"}
      ],
      "documentation":"API to publish early stopping metrics to kinesis."
    },
    "PublishMetricDatumList":{
      "name":"PublishMetricDatumList",
      "http":{
        "method":"PUT",
        "requestUri":"/PublishMetricDatumList"
      },
      "input":{"shape":"PublishMetricDatumListRequest"},
      "output":{"shape":"PublishMetricDatumListResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"ResourceInUse"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"}
      ],
      "documentation":"API to publish metric datum list for given training job."
    },
    "PutMetrics":{
      "name":"PutMetrics",
      "http":{
        "method":"PUT",
        "requestUri":"/PutMetrics"
      },
      "input":{"shape":"PutMetricsRequest"},
      "output":{"shape":"PutMetricsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"InternalFailure"},
        {"shape":"Throttling"},
        {"shape":"ServiceUnavailable"},
        {"shape":"AccessDeniedError"}
      ],
      "documentation":"API to publish metrics."
    }
  },
  "shapes":{
    "AccessDeniedError":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":403},
      "exception":true,
      "synthetic":true
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"AWS Account Id. As per the mandate, all Ironman API`s should have Customer`s AWS Account Id as the mandatory field. The length of the AWS Account Id should not be greater than 12. Refer: http://docs.aws.amazon.com/general/latest/gr/acct-identifiers.html",
      "max":12,
      "min":1,
      "pattern":"^\\d+$"
    },
    "BatchGetMetricsRequest":{
      "type":"structure",
      "required":["MetricQueries"],
      "members":{
        "MetricQueries":{"shape":"MetricQueryList"}
      },
      "documentation":"Defines the request object for the BatchGetMetrics API."
    },
    "BatchGetMetricsResponse":{
      "type":"structure",
      "members":{
        "MetricQueryResults":{"shape":"MetricQueryResultList"}
      },
      "documentation":"Response object of the BatchGetMetrics API"
    },
    "BatchPutMetricsError":{
      "type":"structure",
      "required":[
        "Code",
        "Message",
        "MetricIndex"
      ],
      "members":{
        "Code":{"shape":"PutMetricsErrorCode"},
        "Message":{"shape":"Message"},
        "MetricIndex":{"shape":"Integer"}
      }
    },
    "BatchPutMetricsErrorList":{
      "type":"list",
      "member":{"shape":"BatchPutMetricsError"},
      "max":10,
      "min":1
    },
    "BatchPutMetricsRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "MetricData"
      ],
      "members":{
        "ResourceArn":{"shape":"SageMakerResourceArn"},
        "MetricData":{"shape":"RawMetricDataList"}
      },
      "documentation":"Defines the request object for the BatchPutMetrics API."
    },
    "BatchPutMetricsResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"BatchPutMetricsErrorList"}
      },
      "documentation":"Defines the response object for the BatchPutMetrics API."
    },
    "Double":{"type":"double"},
    "EarlyStoppingMetrics":{
      "type":"structure",
      "required":[
        "MetricName",
        "HostId",
        "ValueList",
        "OrderInLogsList",
        "TimestampList"
      ],
      "members":{
        "MetricName":{"shape":"MetricName"},
        "HostId":{"shape":"HostId"},
        "ValueList":{"shape":"ValueList"},
        "OrderInLogsList":{"shape":"OrderInLogsList"},
        "TimestampList":{"shape":"TimestampList"}
      },
      "documentation":"This provides metric name, latest occurrence, hostID, corresponding values and their order in logs."
    },
    "FailureReason":{
      "type":"string",
      "documentation":"It defines the cause of the failure. It is a first class field of all exception type thrown by this service.",
      "max":1024
    },
    "Float":{"type":"float"},
    "GetLatestMetricDatumRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TrainingJobName",
        "MetricName"
      ],
      "members":{
        "AwsAccountId":{"shape":"AwsAccountId"},
        "TrainingJobName":{"shape":"TrainingJobName"},
        "MetricName":{"shape":"MetricName"}
      },
      "documentation":"Defines the request object for the GetLatestMetricDatum API."
    },
    "GetLatestMetricDatumResponse":{
      "type":"structure",
      "required":["MetricDatum"],
      "members":{
        "MetricDatum":{"shape":"MetricDatum"}
      },
      "documentation":"Response object of the GetLatestMetricDatum API"
    },
    "GetMetricsRequest":{
      "type":"structure",
      "required":["Queries"],
      "members":{
        "Queries":{"shape":"QueryList"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      },
      "documentation":"Defines the request object for the GetMetrics API."
    },
    "GetMetricsResponse":{
      "type":"structure",
      "members":{
        "QueryResults":{"shape":"QueryResultList"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"Response object of the GetMetrics API"
    },
    "HostId":{
      "type":"string",
      "documentation":"Id of the host that published metrics for early stopping",
      "max":32,
      "min":1,
      "pattern":".+"
    },
    "HyperParameterTuningJobName":{
      "type":"string",
      "documentation":"Name for the tuning job. Name is required to be unique within the same account and region. Names are case insensitive. Names should have minimum length of 1 and maximum length of 32 characters.",
      "max":32,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "Integer":{"type":"integer"},
    "InternalFailure":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "synthetic":true
    },
    "Long":{"type":"long"},
    "MaxResults":{
      "type":"integer",
      "max":20000,
      "min":1
    },
    "Message":{
      "type":"string",
      "max":2048,
      "pattern":".*"
    },
    "MetricData":{
      "type":"structure",
      "members":{
        "MetricName":{"shape":"MetricName"},
        "Value":{"shape":"Double"},
        "Timestamp":{"shape":"Long"},
        "Step":{
          "shape":"Integer",
          "box":true
        }
      },
      "documentation":"Metrics from the client."
    },
    "MetricDataList":{
      "type":"list",
      "member":{"shape":"MetricData"},
      "documentation":"List of metrics.",
      "max":10,
      "min":1
    },
    "MetricDatum":{
      "type":"structure",
      "required":[
        "MetricName",
        "Value",
        "Timestamp"
      ],
      "members":{
        "MetricName":{"shape":"MetricName"},
        "Value":{"shape":"Float"},
        "Timestamp":{"shape":"Long"}
      },
      "documentation":"This provides metric name, latest occurrence and corresponding value."
    },
    "MetricDatumList":{
      "type":"list",
      "member":{"shape":"MetricDatum"},
      "documentation":"List of MatricDatum.",
      "max":50,
      "min":1
    },
    "MetricName":{
      "type":"string",
      "documentation":"Name of the metric to be captured. Length of the name should be no greater than 255.",
      "max":255,
      "min":1,
      "pattern":".+"
    },
    "MetricQuery":{
      "type":"structure",
      "required":[
        "MetricName",
        "ResourceArn",
        "MetricStat",
        "Period",
        "XAxisType"
      ],
      "members":{
        "MetricName":{"shape":"MetricName"},
        "ResourceArn":{"shape":"SageMakerResourceArn"},
        "MetricStat":{"shape":"MetricStatistic"},
        "Period":{"shape":"Period"},
        "XAxisType":{"shape":"XAxisType"},
        "Start":{
          "shape":"Long",
          "box":true
        },
        "End":{
          "shape":"Long",
          "box":true
        }
      }
    },
    "MetricQueryList":{
      "type":"list",
      "member":{"shape":"MetricQuery"},
      "documentation":"List of metric queries.",
      "max":100,
      "min":1
    },
    "MetricQueryResult":{
      "type":"structure",
      "required":[
        "Status",
        "XAxisValues",
        "MetricValues"
      ],
      "members":{
        "Status":{"shape":"MetricQueryResultStatus"},
        "Message":{"shape":"Message"},
        "XAxisValues":{"shape":"XAxisValues"},
        "MetricValues":{"shape":"MetricValues"}
      }
    },
    "MetricQueryResultList":{
      "type":"list",
      "member":{"shape":"MetricQueryResult"},
      "documentation":"List of metric query results.",
      "max":100,
      "min":1
    },
    "MetricQueryResultStatus":{
      "type":"string",
      "enum":[
        "Complete",
        "Truncated",
        "InternalError",
        "ValidationError"
      ]
    },
    "MetricStatistic":{
      "type":"string",
      "enum":[
        "Min",
        "Max",
        "Avg",
        "Count",
        "StdDev",
        "Last"
      ]
    },
    "MetricValues":{
      "type":"list",
      "member":{"shape":"Double"}
    },
    "NextToken":{
      "type":"string",
      "max":8192,
      "pattern":".*"
    },
    "OrderInLogsList":{
      "type":"list",
      "member":{"shape":"Integer"},
      "documentation":"Order of the list of values.",
      "max":25,
      "min":1
    },
    "Period":{
      "type":"string",
      "enum":[
        "OneMinute",
        "FiveMinute",
        "OneHour",
        "IterationNumber"
      ]
    },
    "PublishEarlyStoppingMetricsRequest":{
      "type":"structure",
      "required":[
        "AwsAccountId",
        "TrainingJobName",
        "TuningJobName",
        "EarlyStoppingMetrics"
      ],
      "members":{
        "AwsAccountId":{"shape":"AwsAccountId"},
        "TrainingJobName":{"shape":"TrainingJobName"},
        "TuningJobName":{"shape":"HyperParameterTuningJobName"},
        "EarlyStoppingMetrics":{"shape":"EarlyStoppingMetrics"}
      },
      "documentation":"Defines the request object for the PublishEarlyStoppingMetrics API."
    },
    "PublishEarlyStoppingMetricsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"Defines the response object for the PublishEarlyStoppingMetrics API."
    },
    "PublishMetricDatumListRequest":{
      "type":"structure",
      "required":[
        "TrainingJobName",
        "MetricDatumList"
      ],
      "members":{
        "AwsAccountId":{"shape":"AwsAccountId"},
        "TrainingJobName":{"shape":"TrainingJobName"},
        "MetricDatumList":{"shape":"MetricDatumList"}
      },
      "documentation":"Defines the request object for the PublishMetricDatumList API."
    },
    "PublishMetricDatumListResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"Defines the request object for the PublishMetricDatumList API."
    },
    "PutMetricsError":{
      "type":"structure",
      "required":[
        "Code",
        "Message",
        "MetricIndex"
      ],
      "members":{
        "Code":{"shape":"PutMetricsErrorCode"},
        "Message":{"shape":"Message"},
        "MetricIndex":{"shape":"Integer"}
      }
    },
    "PutMetricsErrorCode":{
      "type":"string",
      "enum":[
        "MetricLimitExceeded",
        "InternalError",
        "ValidationError",
        "ConflictError"
      ]
    },
    "PutMetricsErrorList":{
      "type":"list",
      "member":{"shape":"PutMetricsError"},
      "max":10,
      "min":1
    },
    "PutMetricsRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Metrics"
      ],
      "members":{
        "ResourceArn":{"shape":"SageMakerResourceArn"},
        "Metrics":{"shape":"MetricDataList"}
      },
      "documentation":"Defines the request object for the PutMetrics API."
    },
    "PutMetricsResponse":{
      "type":"structure",
      "members":{
        "Errors":{"shape":"PutMetricsErrorList"}
      },
      "documentation":"Defines the response object for the PutMetrics API."
    },
    "Query":{
      "type":"structure",
      "members":{
        "Id":{"shape":"QueryId"},
        "MetricName":{"shape":"MetricName"},
        "ResourceArn":{"shape":"SageMakerResourceArn"},
        "StartStep":{
          "shape":"Long",
          "box":true
        },
        "EndStep":{
          "shape":"Long",
          "box":true
        }
      }
    },
    "QueryId":{
      "type":"string",
      "max":256,
      "min":1
    },
    "QueryList":{
      "type":"list",
      "member":{"shape":"Query"},
      "documentation":"List of metric queries.",
      "max":100,
      "min":1
    },
    "QueryResult":{
      "type":"structure",
      "members":{
        "Id":{"shape":"QueryId"},
        "Status":{"shape":"MetricQueryResultStatus"},
        "Message":{"shape":"Message"},
        "XAxisValues":{"shape":"XAxisValues"},
        "MetricValues":{"shape":"MetricValues"}
      }
    },
    "QueryResultList":{
      "type":"list",
      "member":{"shape":"QueryResult"},
      "documentation":"List of metric query results.",
      "max":100,
      "min":1
    },
    "RawMetricData":{
      "type":"structure",
      "required":[
        "MetricName",
        "Timestamp",
        "Value"
      ],
      "members":{
        "MetricName":{"shape":"MetricName"},
        "Timestamp":{"shape":"Long"},
        "IterationNumber":{
          "shape":"Integer",
          "box":true
        },
        "Value":{"shape":"Double"}
      },
      "documentation":"This provides the raw metrics from the client."
    },
    "RawMetricDataList":{
      "type":"list",
      "member":{"shape":"RawMetricData"},
      "documentation":"List of raw metrics.",
      "max":10,
      "min":1
    },
    "ResourceInUse":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":402},
      "exception":true
    },
    "ResourceNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "SageMakerResourceArn":{
      "type":"string",
      "max":2048,
      "pattern":"arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:[a-z\\-].*/.*"
    },
    "ServiceUnavailable":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true,
      "synthetic":true
    },
    "Throttling":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":401},
      "exception":true,
      "synthetic":true
    },
    "TimestampList":{
      "type":"list",
      "member":{"shape":"Long"},
      "documentation":"List of timestamps in order.",
      "max":25,
      "min":1
    },
    "TrainingJobName":{
      "type":"string",
      "documentation":"Name for the training job, which will also be the ML model's name after it is learnt. Name is required to be unique within the same account and region. Names are case insensitive. Names should have minimum length of 1 and maximum length of 63 characters.",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ValidationError":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "synthetic":true
    },
    "ValueList":{
      "type":"list",
      "member":{"shape":"Float"},
      "documentation":"List of values in order.",
      "max":25,
      "min":1
    },
    "XAxisType":{
      "type":"string",
      "enum":[
        "IterationNumber",
        "Timestamp"
      ]
    },
    "XAxisValues":{
      "type":"list",
      "member":{"shape":"Long"}
    }
  },
  "documentation":"Metrics sink and source for SageMaker Training Jobs. See: https://w.amazon.com/index.php/AWS/AmazonAI/Platform/IronMan/Learner https://w.amazon.com/index.php/AWS/AmazonAI/Platform/IronMan/Hildebrand/API"
}
