attrs>=23.1.0,<24
boto3>=1.26.131,<2.0
cloudpickle==2.2.1
google-pasta
numpy>=1.9.0,<2.0
protobuf>=3.12,<5.0
smdebug_rulesconfig==1.0.1
importlib-metadata>=1.4.0,<7.0
packaging>=20.0
pathos
schema
PyYAML~=6.0
jsonschema
platformdirs
tblib==1.7.0
