name: Canaries
on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

permissions:
    id-token: write # This is required for requesting the JWT

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.CI_AWS_ROLE_ARN }}
          aws-region: us-west-2
          role-duration-seconds: 10800
      - name: Run Integ Tests
        uses: aws-actions/aws-codebuild-run-build@v1
        id: codebuild
        with:
          project-name: sagemaker-python-sdk-v3-canaries
